.purchaseCard {
    height: fit-content;
    padding: 20px;
    margin: auto;
}

.discount {
    color: #BEEE11;
    font-size: 18px;
    padding: 5px;
    background-color: #4c6b22;
    display: block;
    text-align: center;
    font-weight: 500;
}

.discountPrice {

    color: #BEEE11;
    font-size: 20px;
}

.floatCard {
    position: relative;
    bottom: -43px;
    border: 1px solid black;
    border-radius: 2%;
}
.thumbReview{
    color: #66c0f4;
    /* background: cadetblue; */
    font-size: 30px;
}
.addToCart{
    --bs-btn-border-color:rgb(89, 191, 64) !important;
    background-color: #59BF40 !important;
    width: auto !important;
}
.announcement:hover{
    transform: scale(1.03);
    transition: 400ms all ease;
}